:host{
    width: 250px;
    }

div{
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color:lightgray;
    border: 1px black solid;
    border-radius: 5px;
}

div h3{
    padding: 5px;
    margin: 1px;
    text-align: center;
    font-weight: bold;
}

div p{
    background-color: transparent;
    border: 1px black solid;
    border-radius: 10px;
}

div footer{
    text-align: justify;
    background-color: red;
    color: white;
}