<section [ngClass]="{ativa: menuVisivel}">
  <h1><img src="assets/logo.png" alt=""></h1>
  <div  class="menu">
    <img (click)="alternarMenu()" src="assets/menu.png" alt="">
  </div>

  <form>
    <div class="form-group">
      <input [(ngModel)]="dados.titulo" class="form-control" type="text" name="titulo" placeholder="Título">
    </div>

    <div class="form-group">
      <input [(ngModel)]="dados.foto" class="form-control" type="text" name="foto" placeholder="URL da foto">
    </div>  

    <div class="form-group">
      <textarea [(ngModel)]="dados.tag" class="form-control" name="tag" rows='4' placeholder="Coloque as suas tags aqui"></textarea>
    </div>  

    <button (click)="inserir()" class="btn-salvar">Salvar</button>
    <br>
    <button (click)="limpar()" class="btn-limpar">Limpar</button>
   </form>
</section>

<div class="cards" [ngClass]="{cardAtivo: menuVisivel}">
<app-card *ngFor="let card of lista" [dadosCard]="card"></app-card>
</div>
